input.parsley-error[data-parsley-id], textarea.parsley-error[data-parsley-id] {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.parsley-error, input.parsley-error[data-parsley-id], textarea.parsley-error[data-parsley-id] {
    margin-bottom: 0;
}
.parsley-errors-list {
    color: #F44336;
    margin: 0 !important;
}
.parsley-errors-list li { margin: 5px 0}
.s-alert-box{z-index: 99999}