body { font-family: 'Raleway', sans-serif; font-weight: 400; background: #F0F0F0;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #979797;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #979797;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #979797;
}
:-moz-placeholder { /* Firefox 18- */
  color: #979797;
}
a {
  color:#4286f7 !important;
}
header, main, footer { padding-left: 300px; }
header { padding-left: 0px; }
header .nav-wrapper { z-index: 9999; }
header .side-nav.fixed { top: 0px; box-shadow: none; }
header nav { box-shadow: none; background: #fff; border-bottom: 1px solid #b7b7b7;  }
header nav ul a { color: #5a5a5a; font-size: 18px; font-weight: 400; position:relative; padding: 12px 15px; line-height:33px;}
header nav ul a i { font-size: 20px !important; }
header nav ul a.dropdown-button.active {
  background: #4286f7 none repeat scroll 0 0;
  color: #fff;
}
.admin-ac > a { color: #4286f7; }
.admin-ac a i { font-size: 30px !important; padding-left: 10px; }
.noti {
  border-radius: 100px;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 18px;
  line-height: 13px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 9px;
  width: 18px;
}
header .brand-logo {
  padding-top: 10px !important;
}
.left-bar li a span i {
  color: #4286f7 !important;
  display: inline-block;
  float: right;
  font-size: 20px; margin: 0 !important;
}
header .dropdown-content {
  left: auto !important;
  right: 0 !important;
  top: 58px !important;
  width: 270px !important;
}
header .dropdown-content li a {
  color: #4286f7;
  font-size: 16px;
  padding: 10px 8px;
}
header .dropdown-content li a:hover{background:#4286f7;color:#fff;}
header nav ul li a:hover, header nav ul li.active { background: none; }
/*side bar*/
.admin-pro { padding: 90px 0 35px; text-align: center; }
.admin-pro h2 { margin: 14px 0px 0px; color: #101010; font-size: 20px; font-weight: 500; }

.left-bar li a i { color: #767676 !important; font-size: 20px; height: auto !important; width: auto !important; margin: 0 20px 0 0 !important }
.left-bar li a { color: #767676; font-size: 16px; font-weight: 400; padding: 0 26px !important; }
.left-bar .collapsible-body li a, .left-bar.fixed .collapsible-body li a { font-size: 14px; padding: 0 62px !important; }
.left-bar li a:hover, .left-bar .collapsible-header:hover, .left-bar.fixed .collapsible-header:hover { color: #fff; background: #4286f7; }
.left-bar .collapsible-body li a:hover, .left-bar .collapsible-body > ul:not(.collapsible) > li.active, .left-bar.fixed .collapsible-body > ul:not(.collapsible) > li.active, .left-bar .collapsible-body > ul:not(.collapsible) > li.active a, .left-bar.fixed .collapsible-body > ul:not(.collapsible) > li.active a{background:#e1ecff !important; color:#767676 !important;}
.left-bar li a:hover i { color: #fff !important; }
.left-bar li.bold.active a.collapsible-header{background: #4286f7; color:#fff;}
.left-bar li.bold.active a i{color:#fff !important;}
.left-bar li.bold a span i.zmdi-chevron-right {
  transform: rotate(0deg);
    transition: all 0.4s ease 0s;
}
.left-bar li.bold.active a span i.zmdi-chevron-right {
  transform: rotate(90deg);
    transition: all 0.4s ease 0s;
}
.side-nav.left-bar {
  overflow-y: scroll; z-index:10; 
}
#sidenav-overlay{z-index:9 !important;}
.top-nav {z-index: 21;}
/*side bar*/

/*commom*/
.mar-tp5 { margin-top: 5px; }
.mar-tp10 { margin-top: 10px; }
.mar-bt5 { margin-bottom: 5px; }
.mar-rt10 {
  margin-right: 20px !important;
}
.bt-shadow { box-shadow: 0px 2px 0px #d2d2d2; }
.zmdi.zmdi-account { display: inline; line-height: 22px; height: auto; }
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i { height: auto; line-height: inherit; }
main { background: #f0f0f0; padding-top: 10px; padding-bottom: 10px; }
header .row { margin-bottom: 0; }
header .head-brk {
  background: #fff none repeat scroll 0 0;
  position: relative;
  z-index: 20;
}
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) { border-bottom:none; box-shadow: none; }
input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label { color: #4286f7; }
.red { background: #ec5549; }
.yellow { background: #fbbc05 !important; }
.seegreen { background: #47c5bb; }
.seeblue{background:#46a3c5;}
.card{   box-shadow: 0 2px 0 #d2d2d2;}
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4286f7 !important;
  box-shadow: 0 1px 0 0 #4286f7 !important;
}
.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #4286f7 !important;
  left: 24px;
}
.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #4286f7 !important;
  left: 24px;
}
.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #4286f7 !important;
  left: 24px;
}
.switch label input[type="checkbox"]:checked + .lever {
 background-color: #7AAAF9 !important;
}
.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #4286f7 !important;
  left: 24px;
}
.level-1 {
  padding-left: 10px;
}
input.valid:not([type]), input.valid:focus:not([type]), input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"], input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime"], input.valid[type="datetime"]:focus, input.valid[type="datetime-local"], input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus {
  border-bottom: 1px solid #4286f7 !important;
  box-shadow: 0 1px 0 0 #4286f7 !important;
}
/*common*/
/*pagination*/
.pagination li {
  height: auto !important;
  line-height: 18px !important;
  padding: 0 !important;
}
.pagination li a, .pagination li > div {
  font-family: arial;
  font-size: 15px;
  line-height: 20px !important;
  padding: 3px 10px !important;
}
.pagination li a {
  background: #fff none repeat scroll 0 0;
  margin: 0 3px;
}
.pagination li.pagination-next a, .pagination li.pagination-previous a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-size: 12px;
  line-height: 26px !important;
  padding: 0 !important;
}
.pagination li.pagination-previous span, .pagination li.pagination-next span {
  color: #999 !important;
  font-size: 12px;
  line-height: 26px;
  margin: 0 3px;
}
.pagination li.pagination-next a:hover, .pagination li.pagination-previous a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
/*pagination*/
/*breadcum*/
.dash-links {
  float: left;
  margin-bottom: 10px;
  width: 100%;padding: 0px 10px;
}
.dash-links a::before { color: #979797; font-size: 16px; line-height: 23px; margin: 0; }
.dash-links a { color: #979797; font-size: 14px; line-height: 14px; }
.breadcrumb > li {
  display: inline-block;
 
}
.breadcrumb > li.active a {
  color: #666;
}
.breadcrumb > li a i,
.breadcrumb > li a [class^="mdi-"], .breadcrumb > li a [class*="mdi-"],
.breadcrumb > li a i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}
.breadcrumb li:first-child a:before {
  display: none;
}

.breadcrumb > li a:before {
  content: '\E5CC';
  color: #979797;
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size:18px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased; line-height: 18px;
}



/*braedcum*/
/*dashboard page*/
.main-bgw {
  background: #fff none repeat scroll 0 0; padding:15px; display: inline-block; width: 100%;
}
.main-heading {
  color: #4286f7;
  font-size: 25px;
  line-height: 30px;
  margin:0px 0px 20px 0px ;
  padding: 0;
  text-align: left; font-weight: 500;
}
.provdr {
  border: 1px solid #ddd;
  padding: 10px; margin: 0px 0px 40px 0px;
}
.provdr:last-child {
  margin: 0;
}
.provdr lagend{
  color: #979797;
  font-size: 20px;
  font-weight: 600; background: #fff none repeat scroll 0 0;
  display: block;
  float: left;
  margin: -19px 0 0 0px;
  padding: 0 10px;
}


.provdr p {
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
}

/*dashboard page*/
/*agrement*/
.editbt .btn-floating {
  display: block;
  margin: 20px 0 0;
}
.dataTables_length label, .dataTables_filter label {
  color: #000;
}
div.dataTables_length label {
  float: left;
  font-weight: normal;
  text-align: left;
}
div.dataTables_wrapper div.dataTables_length label .select-wrapper {
  display: inline-block;
}
div.dataTables_filter label {
  float: right;
  font-weight: normal;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em; height: 2rem; display: inline-block;
  width: auto;
}
.addnew-table table.dataTable thead .sorting::after {
  display: none;
}
/*table*/
.addnew-table .dataTable th {
  
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding:12px 8px !important;
  text-align: center;
}
.addnew-table .dataTable td {
  
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding:12px 8px !important;
  text-align: center;
}
.addnew-table td a i {
  font-size: 20px;
  padding: 0 2px;
}
.addnew-table table.dataTable {
  border-collapse: collapse !important;
}
.addnew-table table.bordered > thead > tr{border-bottom: 1px solid #000;} 
.addnew-table table.bordered > tbody > tr{border-bottom: 1px solid #aaa;}
.addnew-table table.bordered > tbody > tr:last-child {
  border-color: #000;
}
.addnew-table .dataTables_info {
  color: #979797;
  font-size: 15px; float: left;
}
.paging_simple_numbers {
  float: right;
}
.paging_simple_numbers .paginate_button {
  color: #979797;
  font-size: 13px;
  padding: 0 10px;
}
.paging_simple_numbers span .paginate_button {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #000;
  font-size: 14px;
  padding: 2px 9px;
}
.paging_simple_numbers span .paginate_button.current {
  background: #4286f7 none repeat scroll 0 0;
  border-color: #4286f7;
  color: #fff;
}
.date-style {
  font-family: "Roboto",sans-serif;
  font-size: 14px !important;
}
.addnew-table th.date-style {
  font-family: 'Raleway', sans-serif;
}
/*table*/
/*agrement*/
/*model popup*/
.model-cover .main-heading {
  margin: 13px 0 20px;
  padding: 0 15px;
}
.sig-pad {
  float: left;
  padding-right: 40px; padding-left: 10px;
}
.sig-pad > label {
  font-size: 1rem;
}
/*model popup*/
/*tabs*/
.tab-cover .indicator {
  display: none;
}
.tab-cover .tabs, .tab-cover .tabs .tab {
  height: auto;
}
.tab-cover .tabs .tab a {
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 10px;
  padding-top: 10px; color:#000;
}
.tab-content {
  border: 1px solid #ddd;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
.tabs .tab a:hover, .tabs .tab a.active{color:#2196F3 !important;}
a:focus{outline:none !important;}
.sub-accordion a.arrow, .sub-accordion a.arrowadd, .sub-accordion a.arrowremove {
  float: right;
}
/*tabs*/
/*sign in page*/
.sign-page .row > div {
  background: #fff none repeat scroll 0 0;
  padding: 40px 15px;
}
.welcome-msg {
  color: #000;
  font-size: 14px;
  margin: 20px 0 50px;
  text-align: center;
}
.sign-page h3.header {

  color: #e74424;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.sign-page .at-pwd-form form .at-input {
  padding: 0;
}
.sign-page .at-pwd-link .at-pwd {
  color: #e74424 !important;
  float: right;
  font-size: 13px;
  font-weight: 600;
  margin-top: -20px;
  text-align: right;
}
.sign-page button.submit {
  background: #4286f7 none repeat scroll 0 0;
  height: 40px;
  margin-top: 40px;
}
.sign-page .input-field.col label {
  left: 0;
}
.sign-page .at-signup-link {
  font-size: 15px;
  text-align: center;
}
.sign-page .at-signup-link p a {
  color: #4286f7;
}
.sign-page .at-signin-link p {
  text-align: center;
}
/*sign in page*/
@media(min-width: 1200px) and (max-width:1286px) {

}
@media(min-width: 993px) and (max-width:1199px) {


/*dashboard*/
}
@media(min-width: 768px) and (max-width:992px) {
header, main, footer { padding-left: 0px; }
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i { height: 64px; line-height: 50px; }

nav .brand-logo {
  left: 0;
  transform: translateX(0%);
}
.top-nav {
  position: absolute;
  right: 0.75rem;
  top: 6px;
  z-index: 21;
}
.top-nav i {
  color: #e74234;
  font-size: 50px;
}

}
@media (max-width:767px) {
header, main, footer { padding-left: 0px; }
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i { height: 64px; line-height: 50px; }

nav .brand-logo {
  left: 0;
  transform: translateX(0%);
}
nav .brand-logo {
  left: 0;
  transform: translateX(0%);
}
.top-nav {
  position: absolute;
  right: 0.75rem;
  top: 6px;
  z-index: 21;
}
.top-nav i {
  color: #e74234;
  font-size: 50px;
}

}
@media (max-width:649px) {

}
@media (max-width:480px) {


}
