<template name="questionForm">

<div class="col l10 offset-l2 m12 s12">
  <div class="content-right">
    <h1 class="section-title">Update Question</h1>
    <div class="demo">
      <p>Please wait until data is loaded...</p>
      <!--<p><span id="openModal" style="cursor:pointer;text-decoration:underlined;">Click here</span> to open form if it isn't open.</p>-->
    </div>
  </div>
</div>

<!-- Question Popup and Form Start -->
<div id="questionPopup" class="modal modal-m ques-modal modal-fixed-footer" style="">
  <div class="">  
    <div class="modal-header light-blue lighten-1">
       <h4>Question Builder</h4>
    </div>
    <form class="" id="{{#if questionSession}}questionUpdate{{else}}questionAdd{{/if}}" name="questionAdd" data-parsley-validate >
    <div class="modal-content">
      {{#if formSubmitted}}
        <span style="background-color: #FFA07A;
        padding: 5px;
        text-align: center;
        width: 200px;
        position: fixed;
        right: 45%;">Please wait, saving data...</span>
      {{/if}}
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
              <li id="" class="tab col s4"><a href="#firstQuestionTab">Main</a></li>
              <li id="" class="tab col s4"><a href="#secondQuestionTab">Answers</a></li>
              <li id="" class="tab col s4"><a href="#thirdQuestionTab">Helper</a></li>
          </ul>
          
          <div id="firstQuestionTab">
              <div class="row">
              <div class="col m8 s12">
                <div class="row">

                    <div class="input-field col s12">
                        <div class="rowminus">
                        <div class="col m8 s12">
                            {{#if questionUpdation}}

                              <select name="questionCategory" id="questionCategory" required>
                                <option value="" selected>Select Category</option>
                                  {{#each displayCategory}}
                                    <option {{isSelect catId questionUpdation.category}} value="{{catId}}">{{title}}</option>
                                      {{#each subcat}}
                                      <option {{isSelect subCatId questionUpdation.category}} value="{{subCatId}}">....{{subtitle}}</option>
                                      {{/each}}

                                      {{intializeselect "#questionCategory"}}
                                  {{/each}}
                              </select>

                            {{/if}}
                            <label class="active">Category</label>
                        </div>
                        </div>
                    </div>
                    
                    <div class="input-field col s12">
                      <div class="rowminus">
                          <div class="col m12 s12">
                              <select name="dependency" id="dependency" required>
                                  <option value="null" selected>Primary Question</option>
                                  {{#if questionSet}}
                                  {{#each questionSet}}
                                    <option {{isSelect questionId questionUpdation.depQuestion}} value="{{questionId}}">{{dotted level}} {{Qtitle}}</option>

                                    {{intializeselect "#dependency"}}
                                  {{/each}}
                                  {{/if}}
                                </select>
                              <label class="active" for="title">Dependency Question </label>
                          </div>
                      </div>
                    </div>
                    {{#if answerSet}}
                    <div class="input-field col s12">
                      <div class="rowminus">
                          <div class="col m12 s12">
                                <select id="dependencyAns" name="dependencyAns" style="font-family:Arial;height:166.8px;" multiple="" class="default-select browser-default form-control">
                                    {{#each answerSet}}
                                        <option {{checkedDependentAnswer ansId}} value="{{ansId}}" style="color:green;">
                                            {{getText ansLbl}}
                                        </option>
                                        {{intializeselect "#dependencyAns"}}
                                    {{/each}}
                                </select>
                                <label>Dependency Answer</label>
                          </div>
                          <!--  <div class="col m4 s12 s-mb20-mob">
                                  
                                  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip=" Select dependency question if only display upon an answer from a previous question e.g. Requires Yes to vigorous exercise. Otherwise leave as Primary Question "><i class="mdi-action-info-outline"></i></a>
                            </div> -->
                      </div>
                    </div>
                    {{/if}}
                    <div class="input-field col s12">
                        <div class="rowminus">
                          <div class="col m12 s12">
                              <textarea id="questionDef" name="questionDef" class="materialize-textarea" required>{{getText questionUpdation.questionDef}}</textarea>
                              <label for="title" class="{{#if questionSession}}active{{/if}}">Question</label>
                          </div>
                          <!--  <div class="col m4 s12 s-mb20-mob">
                              <a href="#"><i class="fa fa-language fa-lg"></i></a>
                              
                          </div> -->
                        </div>
                    </div>
                    
                    <div class="input-field col s12">
                        <div class="rowminus"> 
                          <div class="col m12 s12">
                              
                              <select id="element_type" name="element_type" >
                                {{#if editQuesType}}

                                {{#each editQuesType}}
                                <option {{isSelect value questionUpdation.questionType}} value="{{value}}" >{{title}}</option>
                                {{intializeselect "#element_type"}}
                                {{/each}}

                                {{else}}

                                {{#each questionType}}
                                  {{#if equalVal value questionUpdation.questionType}}
                                  <option {{isSelect value questionUpdation.questionType}} value="{{value}}" >{{title}}</option>
                                  {{intializeselect "#element_type"}}
                                  {{/if}}
                                {{/each}}
                                
                                {{/if}}

                              </select>
                              
                              <label class="active" for="title">Element Type</label>
                          </div>
                          <div class="col m4 s12 s-mb20-mob">
                              
                          </div>
                        </div>
                    </div>
                    
                    <div class="input-field col s12">
                        <div class="rowminus">
                          <div class="col m12 s12">
                              <select id="gender" name="gender">
                                  <option {{isSelect 0 questionUpdation.gender}} value="0">Male & Female</option>
                                  <option {{isSelect 2 questionUpdation.gender}} value="2">Male</option>
                                  <option {{isSelect 1 questionUpdation.gender}} value="1">Female</option>
                                </select>
                                {{intializeselect "#gender"}}
                              <label class="active" for="title">Gender</label>
                          </div>
                          <!-- <div class="col m4 s12 s-mb20-mob">
                                  
                                  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="If gender specific question select gender, else leave as Male & Female"><i class="mdi-action-info-outline"></i></a>
                        </div> -->
                        </div>
                    </div>
                    
                    <div class="input-field col s12">
                        <div class="rowminus">
                          <div class="col m12 s12">
                              <input type="text" name="key_string" id="key_string" value="{{questionUpdation.key_string}}" required data-parsley-validation-minlength="1" data-parsley-trigger="keyup" data-parsley-keystring="true" data-parsley-keystring_uniq="true" />
                              <label class="{{#if questionUpdation}}active{{/if}}" for="title">Question Variable Name</label>
                          </div>
                          <div class="col m4 s12 s-mb20-mob">
                              
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Category Box for question Start -->
                
              <!-- Category box for question End -->
              </div>
          </div>

          <div id="secondQuestionTab">
            {{#if questionSession}}
            <div class="row form-group text-black">
              <div class="col s12">
                <div class="input-field label-left col l2 m6 s12">Answer</div>
                {{#if questionUpdation}}
                <div class="input-field label-right col l10 m6 s12"><p>{{getText questionUpdation.categoryName}} >> <a href="">{{getText questionUpdation.questionDef}}</a></p>
                  {{#each questionType}}
                      {{#if equalVal value questionUpdation.questionType}}
                      <p>{{title}}</p>
                      {{/if}}
                    {{/each}}
                </div>
                {{else}}
                <div class="input-field label-right col l10 m6 s12"><p>{{getText questionVal.questionCat}} >> <a href="">{{getText questionVal.questionDef}}</a></p>
                  {{#each questionType}}
                      {{#if equalVal value questionVal.type}}
                      <p>{{title}}</p>
                      {{/if}}
                    {{/each}}
                </div>
                {{/if}}
              </div>
            </div>
              {{#each responseAnswer}}
                <div class="row" style="{{#if deleted}} display:none;{{/if}}">{{questionSessVal}}
                    <div class="col s12">
                      <div class="input-field col s12">
                              <div class="row rowminus">
                                    <div class="col l2 custom-label">New Answer {{index}}</div>
                                    <div class="col m2 s12">
                                        <input type="text" name="answerText_{{index}}" id="answerText_{{index}}" value="{{getText ansLbl}}">
                                        <label class="{{#if responseAnswer}}active{{/if}}">Enter answer text</label>
                                    </div>
                                    <div class="col m2 s12">
                                        <input type="text" name="answerValue_{{index}}" id="answerValue_{{index}}" value="{{getText ansVal}}">
                                        <label class="{{#if responseAnswer}}active{{/if}}">Enter answer value</label>
                                    </div>
                                    <div class="col m2 s12">
                                        <input type="text" name="answerRank_{{index}}" id="answerRank_{{index}}" value="{{ansRank}}">
                                        <label class="{{#if responseAnswer}}active{{/if}}">Sort order</label>
                                    </div>
                                    {{#if equalVal 8 questionVal.type}}
                                    <div class="col m2 s12">
                                      <input type="radio" id="answerResetOthers_{{index}}" name="answerResetOthers" value="{{index}}" checked="{{#if equalVal index questionUpdation.resetOptionsIndex}}checked{{/if}}" />
                                      <label for="answerResetOthers_{{index}}">None Option</label>
                                    </div>
                                    {{/if}}
                                    <div class="col m2 s12">
                                        <span id="delAns_{{index}}" class="delete deleteAnswer tooltip" style="cursor:pointer;"><i class="fa fa-trash-o"></i>
                                        <span class="tooltiptext">Delete</span>
                                        </span>
                                    </div>
                              </div>
                              
                          </div>
                    </div>
                </div>
              {{/each}}
              <div class="row">
              <!-- if question element type radio, selectbox or multiple select #Start-->
              {{#if equalVal 4 questionVal.type}}
              <div class="addanswer col l8 offset-l2"><span id="addAnswer" style="color:#039be5;cursor:pointer;"><i class="fa fa-plus-circle fa-lg"></i> Add another answer</span></div>
              {{/if}}
              {{#if equalVal 5 questionVal.type}}
              <div class="addanswer col l8 offset-l2"><span id="addAnswer" style="color:#039be5;cursor:pointer;"><i class="fa fa-plus-circle fa-lg"></i> Add another answer</span></div>
              {{/if}}
              {{#if equalVal 8 questionVal.type}}
              <div class="addanswer col l8 offset-l2"><span id="addAnswer" style="color:#039be5;cursor:pointer;"><i class="fa fa-plus-circle fa-lg"></i> Add another answer</span></div>
              {{/if}}
              <!-- if question element type radio, selectbox or multiple select #End-->
            </div>
            {{/if}}
          </div>

          <div id="thirdQuestionTab">
              {{#if questionSession}}
                  <div class="input-field col s12">
                      <div class="rowminus">
                      <div class="row">
                          <span class="label-left col">Helper Text</span>
                          <!--  <span class="label-right col m10 s12">More information text displayed via "more info" button. Use to explain and clarify elements of this question. Use the edit tools to format the information, upload optimised /images etc.</span> -->
                      </div>
                      </div>
                </div>
                  <div class="input-field col s12">
                      <div class="rowminus">
                        <div class="col s12">
                            <textarea id="questionHelper" name="questionHelper" class="text-small">{{getText questionVal.helper "quesHelper"}}</textarea>
                        </div>
                        
                      </div>
                  </div>
                  {{/if}}
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal-footer">
     <button class="btn waves-effect waves-light" type="submit" name="action">   Save <i class="mdi-content-send right"></i></button>
      <a href="#" id="questionClose" class="modal-close modal-action waves-effect waves-green btn-flat">Cancel</a>
    </div>
    </form>
  </div>
</div>
<!-- Question Popup and Form End -->
</template>