<template name="addAgreement">
    <div class=" model-cover">
        <div class="modal-header">
            <h5 class="main-heading">Create Agreements Template</h5>
        </div>
        <form id="frmAgreement" name="frmAgreement" data-parsley-validate>
            <div class="modal-content">
                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            
                            <div class="input-field col m8 mt40">
                                <input type="text" name="agreement_name" id="agreement_name" value="{{agreementData.agreementName}}" required data-parsley-pattern="/^[A-Za-z0-9\s]+$/">
                                <label for="agreement_name" class="{{#if agreementData}} active {{/if}}">Agreement name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            
                            <div class="input-field col m8 mt40">
                                <input type="text" name="agreement_title" id="agreement_title" value="{{agreementData.agreementTitle}}" required data-parsley-pattern="/^[A-Za-z0-9\s]+$/">
                                <label for="agreement_title" class="{{#if agreementData}} active {{/if}}">Agreement Title</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            
                            <div class="input-field col m8 mt40">
                                <input type="text" name="agreement_category" id="agreement_category" value="{{agreementData.agreementCategory}}" data-parsley-pattern="/^[A-Za-z0-9\s]+$/">
                                <label for="agreement_category" class="{{#if agreementData}} active {{/if}}">Agreement Category</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            
                            <div class="switch">
                                <div class="sig-pad"><label>Signature Pad</label></div>
                                <label>
                                  Off
                                  <input type="checkbox" id="signature_pad" checked="{{#if agreementData.signaturePad}} checked {{/if}}">
                                  <span class="lever"></span>
                                  On
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            
                            <div class="input-field col m8 mt40">
                                <label for="body" class="mb20 setted">Agreement Body</label>
                                <textarea id="agreement_body" name="agreement_body" class="text-small"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light blue" type="submit" name="action">
                {{#if agreementData}} Update {{else}} Save {{/if}} & Exit
                <i class="mdi-content-send right"></i>
                </button>
                <div id="closeTempModal" class="btn waves-effect waves-light grey mar-rt10">
                    Cancel
                </div>
            </div>
        </form>
    </div>
</template>