<template name="agreements">
    {{#if loadingGroup}}
    <div class="overlay-loader">
        <div class="preloader-wrapper center-div small active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="col s12">
        <div class="main-bgw">
        <div class="content-right">
             <h1 class="main-heading editbt">
                <strong>A</strong>greement <strong>M</strong>anagement
            </h1>
            <!--<a href="javascript:void(0);" class="btn-floating waves-effect waves-light tooltip addTemplate blue">
                <i class="material-icons">add</i>
                <span class="tooltiptext">Add New Template</span>
            </a>-->
            <div class="row right">
                <div class="col s12">
                    <button class="btn addTemplate waves-effect waves-light blue">Add</button>
                </div>
            </div>
            
          <div class="addnew-table">  {{> tabular table=TabularAgreementTables.Agreementlist class="table bordered"}}</div>
            
        </div>
    </div>
    </div>
    <div id="openAgreement" class="modal modal-m ques-modal modal-fixed-footer">  
        {{> addAgreement}}
    </div>
    <div id="viewAgreement" class="modal modal-m ques-modal modal-fixed-footer">  
        {{> viewAgreement}}
    </div>
</template>