<template name="App_body">
    {{> app_navHeader}}
    <main>
        <section class="row">
            <section class="col s12 m12 l12">
                {{#if currentUser}}
                <section class="dash-links">
                    <!--<nav>
                        <div class="nav-wrapper">
                            <div class="col s12">
                                <a href="#!" class="breadcrumb">First</a>
                                <a href="#!" class="breadcrumb">Second</a>
                                <a href="#!" class="breadcrumb">Third</a>
                            </div>
                        </div>
                     </nav>-->
                     {{> breadcrumb}}
                </section>
                {{/if}}
                {{> Template.dynamic template=main}}
                {{> sAlert}}
            </section>
        </section>
    </main>
</template>