<template name="app_navHeader">
    <header>
        <section class="row head-brk">
            <nav class="col s12">
                <section class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img src="images/logo.png" alt=""/></a>                    
                    <ul class="right hide-on-med-and-down">
                        {{#if currentUser}}
                            <li><a href="#"><i class="zmdi zmdi-assignment-alert"></i></a></li>
                            <li class="logout"><a >{{_ 'Logout'}}</a></li>
                        <!--{{else}}
                            <li class="bold {{isActiveRoute 'signin'}}"><a href="{{pathFor 'signin'}}">{{_ 'Sign In'}}</a></li>
                            <li class="bold {{isActiveRoute 'join'}}"><a href="{{pathFor 'join'}}">{{_ 'Join'}}</a></li>-->
                        {{/if}}
                    </ul>
                </section>
            </nav>
        </section>
    <section class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </section>
    <ul id="nav-mobile" class="side-nav left-bar fixed">
        {{#if currentUser}}
            <li class="admin-pro"></li>
            <li class="bold"><a href="/"  class="waves-effect waves-tea"> Dashboard</a></li>
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a href="#" class="collapsible-header  waves-effect"> User Management<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                <section class="collapsible-body">
                    <ul>
                        <li><a href="#" >Provider</a></li>
                        <li><a href="#" >Patient</a></li>
                    </ul>
                </section>
                </li>
            </ul>
            <li class="bold"><a href="/questionnaire" class="waves-effect"> Questionnaire</a></li>
            <li class="bold"><a href="/agreements" class="waves-effect"> Agreements</a></li>
            <li class="bold"><a href="#" class="waves-effect"> Education Management</a></li>
            <li class="bold"><a href="#" class="waves-effect"> Lab Management</a></li>
            <li class="bold"><a href="#" class="waves-effect"> Settings</a></li>
            <li class="bold logout"><a class="waves-effect"> {{_ 'Logout'}}</a></li>
        <!--{{else}}
            <li class="admin-pro"></li>
            <li class="bold {{isActiveRoute 'signin'}}"><a href="{{pathFor 'signin'}}" class="waves-effect" >{{_ 'Sign In'}}</a></li>
            <li class="bold {{isActiveRoute 'join'}}"><a href="{{pathFor 'join'}}" class="waves-effect" >{{_ 'Join'}}</a></li>-->
        {{/if}}
    </ul>
    </header>
</template>
